/*
############     home.scss      ############
*/
.left-panel__list {
	display: flex;
	flex-direction: column;
}
.left-panel__list__doll {
	padding: 10px;
	cursor: pointer;
	color: $complementaryColor;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 30px;
}
.left-panel__list__doll:hover {
	color: $complementaryColorLight;
}

.main-panel__blurb {
	padding: 150px 150px 0;
}

.main-panel__blurb__text {
	color: white;
	margin: 0 auto;

	&.large {
		font-size: 29px;
		line-height: 29px;
	}
	&.medium {
		font-size: 20px;
		line-height: 20px;
	}
	&.small {
		font-size: 12px;
		line-height: 12px;
	}
	&.title {
		margin-bottom: 12px;
	}
}
.main-panel__blurb__list {
	color: #c0c0c0;
}
.main-panel__blurb__list li {
	list-style-type: circle;
	margin: 10px 0;
}
