/*
############     image-set-list.scss      ############
*/
.image-set-list {
	height: 735px;
	overflow: auto;
}

.image-set-list__list__image-set {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 0;
}

.image-set-list__list__image-set__name {
	cursor: pointer;
	line-height: 40px;
}

.image-set-list__list__image-set__name:hover {
	color: $complementaryColor;
}

.images-list__image-detail {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.image-row__image-name {
	width: 100%;
}
.image-row__up-downs button:first-child {
	margin-bottom: 0;
}
.image-row__up-downs button {
	margin-bottom: 5px;
}
