/*
############     image-list-by-category.scss      ############
*/

.category img {
	width: 100px;
}

.images-by-category-list {
	height: calc(100% - 33px);
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.images-by-category-list .category {
	margin-top: 10px;
}

.images-by-category-list .category img {
	border: 1px solid transparent;
}

.images-by-category-list .category img:hover, .images-by-category-list .category.selected img {
	cursor: pointer;
	border: 1px solid $complementaryColorLight;
}

.category-detail__image-slider__name {
	line-height: 37px;
	height: 20px;
	text-align: center;
	color: $complementaryColorLight;
}

.category-detail__image-slider__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.category-detail__image-slider__slider {
	width: 70%;
}

.category-detail__image-slider__container__button {
	width: 60px;
	height: 23px;
	padding: 0;
	background-color: $secondaryColorDark;
	color: $complementaryColorLight;
	margin-top: 10px;
	margin-right: 9px;
}

.category__selected-images__image {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 30px;
	margin-bottom: 5px;
}
