/*
############     test-webservice.scss      ############
*/
.test-webservice__image-upload {
	background-color: #ebebeb;
	text-align: center;
	padding: 50px 0;
}

.test-webservice__disclaimer {
	color: red;
	background-color: #ebebeb;
	font-size: 40px;
	text-align: center;
}

